* {
    margin: 0;
    box-sizing: border-box;
}

.back_bar {
    position: absolute;
    margin-top: 1vh;
    margin-left: 1vw;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

.back_bar a:link,
.back_bar a:visited,
.back_bar a:active,
.back_bar a:hover {
    color: hsl(0, 0%, 0%);
}

.back_bar a:hover {
    text-decoration: underline;
}

.overlay a:link,
.overlay a:visited,
.overlay a:active,
.overlay a:hover {
    color: hsl(0, 0%, 100%);
}

.desk_pane {
    display: block;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
}

.circle > div {
    position: absolute;
    background: black;
    border-radius: 6vw;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
}

.overlay > div {
    position: absolute;
    padding: 5px 20px;
    display: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 4vw;
}

